* {
    margin: 0;
    font-family: Poppins;
}

@font-face {
    font-family: PoppinsBold;
    src: url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins italic;
    src: url(./assets/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: Bebas_neue;
    src: url(./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: rgb(20, 20, 20);
}
body::-webkit-scrollbar-thumb {
    background: rgb(54, 52, 52);
    border-radius: 20px;
}

.background {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1)
        ), url(./assets/fondoPresentacion.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    gap: 1rem;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 12px 1px 20px 1px;
    z-index: 1;
}

.afterHeader {
    border-bottom: 1px solid black;
}

.logoBox {
    display: inline-flex;
    align-items: center;
    font-size: 60px;
    font-family: Bebas_neue;
    font-weight: bold;
    mix-blend-mode: difference;
    color: #fff;
}



.searchBar {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    height: 35px;
    width: 200px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

.btnSubm {
    width: 36px;
    height: 36px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 25px;
    background-color: darkblue;
    border: 0.5px solid;
    cursor: pointer;
    color: black;
    transition: 0.3s ease;
}

.btnSubm:hover {
    background-color: rgba(0, 0, 139, 0.753);
}

.btnSubm i{
    font-size: 22px;
    color: white;
}


.boxLink {
    display: flex;
    gap: 1rem;
}

.boxLink li {
    list-style: none;
}

.link {
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: PoppinsBold;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.link:hover {
    color: rgba(255, 255, 255, 0.781);
}

.register {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 200, 1);
    transition: ease 0.3s;
}

.register:hover{
    background-color: rgb(2, 2, 138);
}

.bannerContent {
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 840px;
    margin: 10px 10px;
    color: white;
    gap: 1rem;
}



.boxContent h1 {
    font-size: 60px;
    text-align: center;
    font-family: Poppins italic;

}

.boxContent p{
    font-size: 25px;
    font-family: poppins;
}


.btnRegister {
    background-color: rgba(0, 0, 200, 1);
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: ease 0.3s;
    margin-top: 30px;
    font-family: PoppinsBold;
}

.btnRegister:hover {
    background-color: rgb(2, 2, 138);
}



.mainContent {
    background-color: rgba(0, 0, 0, 0.9);
    background-position: center;
    height: 100%;
}


.trends {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}

.carouselTrends {
    display: flex;
    margin: 0 10%;
    width: 80%;
    overflow: auto;
    gap: 1rem;
    border-radius: 10px;
}

.carouselTrends::-webkit-scrollbar{
    height: 7px;
}
.carouselTrends::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.74);
}

.moviePoster {
    height: 300px;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0.7;
}

.moviePoster:hover {
    opacity: 1;
}

.moviesTitle {
    padding-top: 20px;
font-size: 40px;
text-align: center;
color: white;
}

.movies {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas automáticas, mínimo 250px, máximo 1fr */
    grid-gap: 20px; 
    place-items: center;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}


footer {
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
}

footer p {
    text-transform: uppercase;
    font-family: Poppins italic;
    font-size: 10px;
}



@media (max-width: 810px) {
    .navBar, .searchBar, .btnSubm {
        display: none;
    }

    .bar {
        display: none;
    }
}
@media (max-width: 500px) {


}