@font-face {
    font-family: PoppinsBold;
    src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins italic;
    src: url(../assets/fonts/Poppins/Poppins-Italic.ttf);
}


 .info p, h3, .moreInfo p {
    font-family: PoppinsBold;
}

.fondoMovie {
    background: url(../assets/bannerMovie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.details {
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.mostDetail {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 5%;
    padding-top: 50px;

}

h1 {
    font-family: Poppins italic;
    font-size: 60px;
}

.movieImg {
    margin-top: 50px;
    margin-left: 30px;
    height: 450px;
    border-radius: 20px;
}

.infoBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:left;
    margin: 0 40px;
}

.sinopsisScroll {
    font-size: 14px;
    padding: 10px;
}

.credits {
    font-size: 14px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
}

.boxMovie {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 50px;
}

.movieData .icons {
    display: flex;
    gap: 60px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.icons a {
    color: white;
}

.boxMovie .movieData .moreInfo {
    color: white;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.moreInfo p {
    font-weight: bold;
}


@media (max-width: 1050px) {
    .details {
        height: 100%;
    }
    .movieImg {
        height: 350px;
    }

    h1 {
        font-size: 50px;
    }

    iframe {
        width: 400px;
    }
    .boxMovie {
        padding: 0 20px;
    }
    .movieData {
        width: 100%;
    }

}



@media (max-width: 810px) {
    .mostDetail {
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 5%;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .movieTitle {
        font-size: 40px;
    }
    
    .boxMovie {
        padding-top: 50px;
        flex-direction: column;
        height: 150vh;
        padding: 0;

        padding: 0 10%;
    }

    iframe {
        width: 450px;
    }

    .movie{
        padding-top: 20px;
    }
    .moreInfo {
        margin: 0 20px;
    }
}




@media (max-width: 500px) {



    .mostDetail .movieImg{
        height: 300px;
        margin: 50px 10%;
    }

    .movieTitle {
        font-size: 30px;
    }

    .credits {
        grid-template-columns: repeat(1, 1fr);
        font-size: 16px;
    }

    iframe {
        width: 420px;
    }
    
}